<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/advjava1june</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>
		
		<!-- This property is used to define the type of Database and queries to be followed -->
		<!-- for MySql-8 -->
		<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
		
		<!-- for Oracle-10g -->
		<!-- <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property> --> 
		
		<!-- This property is used to manage the DDL queries from Hibernate -->
		<property name="hbm2ddl.auto">update</property>
		
		<property name="show_sql">true</property>
		<mapping class="bean.Student"/>
	</session-factory>
</hibernate-configuration>

